body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #555555;
}

.MainTitle{
    background-color: cornflowerblue;
    position: static;
    margin-top: -10px;
    height: 52px;

}

.MainTitle ul{
    display: -webkit-box;
    padding: 0px;
}


.MainTitle a{
    display: block;
    padding: 12.7px 48px;
    text-decoration: blink;
    color: #ffffff;
}

.MainTitle li{
    font-size: x-large;
    display: -webkit-box;
}

.MainTitle a:hover{
    background-color: #0b97c4;
}
.MainTitle a:focus{
    background-color: gray;
}

